// COLORS
$primary-white-color: #ffffff;
$primary-yellow-color:  #fce38a;
$text-grey-color: #333333;
$text-light-grey-color: #999999;
$dirty-white-color: #e7e7e7;
$background-pink-color: #f38181;
$bg-light-blue-color: #95e1d3;
$bg-orange-color: #fce38a;
$text-placeholder-color: #cccccc;
$main-linear-gradient: linear-gradient(                  
    rgba(237, 136, 137, 0.9),
    rgba(238, 215, 135, 0.9));

// FONTS
$main-text-size: 14px; 
$main-font-montserrat: "Montserrat";
$secondary-font-caushan-script: "Kaushan Script";
$text-font-roboto: "Roboto", "sans-serif";   