@media (min-width: 748px) {
  .wrapper {
    max-width: 728px;
    padding: 0 40px;
  }
  .site-navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .header-content {
    width: 78%;
    margin: auto;
  }
  h1 {
    font-size: 52px;
  }
  .box-card-team {
    max-width: 492px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-team:nth-child(2) {
    order: 20;
  }
  .card-team:nth-child(3) {
    order: 10;
  }
  .card-team:nth-child(4) {
    order: 30;
  }
  .img-third::after {
    bottom: 88px;
    left: 132px;
  }
  .img-first::after {
    bottom: 88px;
    left: 132px;
  }
  .img-second::after {
    bottom: 120px;
    left: 132px;
  }
  .img-fourth::after {
    bottom: 120px;
    left: 132px;
  }
}
@media (min-width: 940px) {
  .wrapper {
    max-width: 940px;
  }
  .header-content {
    width: 72%;
  }
  .box-card-team {
    max-width: 940px;
  }
  .img-third::after {
    bottom: 120px;
    left: 132px;
  }
  .img-first::after {
    bottom: 120px;
    left: 132px;
  }
  .img-second::after {
    bottom: 120px;
    left: 132px;
  }
  .img-fourth::after {
    bottom: 120px;
    left: 132px;
  }
}

