html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Playfair Display, Ubuntu;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.wrapper {
  width: 900px;
  margin: 0 auto;
}
.menu {
  text-align: center;
  margin: 0;
  padding-left: 0;
  padding-top: 76px;
  padding-bottom: 104px;
}
.menu-item {
  display: inline-block;
  color: #626262;
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.menu-item a:hover,
.menu-item a:focus {
  color: #03a9f4;
  text-decoration: none;
}
.menu-item {
  margin: 0 50px;
}

.menu-item a {
  text-decoration: none;
  color: #626262;
}
.picture {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 132px;
}
.picture:last-of-type {
  padding-bottom: 0;
}
.picture-box {
  width: 420px;
  margin-right: 56px;
  margin-left: 0px;
  font-size: 0;
  display: inline-block;
  margin-bottom: 104px;
}
.picture-box:nth-last-child(-n + 2) {
  margin-bottom: 0;
}
.picture-box:nth-of-type(2n) {
  margin-right: 0px;
}
h3 {
  width: 63px;
  height: 11px;
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 32px;
  margin-bottom: 28px;
  text-align: left;
}
h2 {
  color: #626262;
  font-family: Playfair Display;
  font-size: 30px;
  font-weight: 400;
  margin: 0px;
  text-align: left;
}
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-top: 34px;
  margin-bottom: 0;
  text-align: left;
}
.main-box {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 70px;
}

button {
  margin: 0 auto;
  color: #626262;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #626262;
  padding: 22px 34px 22px;
  background: transparent;
}
.btn {
  text-align: center;
  padding-top: 72px;
}
